<!DOCTYPE html>
<html lang="en">
<!-- Just for info : Designed By Burhan Chhotaudepur-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title>Profile Cards</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- External Css -->
</head>

<body>
    <header>
        <!-- Header NavBar-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">KKLIFE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/joinnow">Join Us!</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " href="/team">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Admin</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <section>
        <div class="card-wrap">
            <!-- Card Wrapper -->
            <div class="card-container">
                <!-- Card Container -->
                <div class="upper-container">
                    <!-- Upper Card -->
                    <img src="profile.jpg" class="profile">
                    <h1>Burhan Chhotaudepur</h1>
                    <p>Front-End Web Developer</p>
                </div>
                <div class="bottom-container">
                    <!-- Lower Card -->
                    <p>I started coding in march 2020 and inspired to front end web developing. Technologies I use are : Html5, Css3, JavaScript Es6 and React.Js. Heading to become Full-Stack Webdeveloper.</p>
                    <button class="contact">Contact</button>
                    <div class="social">
                        <ul>
                            <li><i class="fab fa-instagram"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-github"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="upper-container">
                    <img src="patrick.jpg" class="profile">
                    <h1>Patrick Amoy</h1>
                    <p>Back-End Web Developer</p>
                </div>
                <div class="bottom-container">
                    <p>Hey, I am full time Back-End Web Developer and FreeLancer with some better skills. Technologies I use MernStack [MongoDb. Express.Js, React.Js, Node.Js].</p>
                    <button class="contact">Contact</button>
                    <div class="social">
                        <ul>
                            <li><i class="fab fa-instagram"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-github"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="upper-container">
                    <img src="david.jpg" class="profile">
                    <h1>David Klein</h1>
                    <p>Full-Stack Web Developer</p>
                </div>
                <div class="bottom-container">
                    <p>I am a Freelancer and Full-Stack Web Developer. I do some music production as part time as I love music. See my work at my Github and instagram page.</p>
                    <button class="contact">Contact</button>
                    <div class="social">
                        <ul>
                            <li><i class="fab fa-instagram"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-github"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="upper-container">
                    <img src="erick.jpg" class="profile">
                    <h1>Erick Gill</h1>
                    <p>Web Desginer</p>
                </div>
                <div class="bottom-container">
                    <p>I am a Freelancer Web Desginer. I am doing web designing since three years and have met great desginers around the world. I do make brand logos, custom designs etc.</p>
                    <button class="contact">Contact</button>
                    <div class="social">
                        <ul>
                            <li><i class="fab fa-instagram"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-github"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>